.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

body {
  background-color:cornsilk;
}

canvas {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
}

footer {
  text-align: center;
  margin: 10px auto;
}